<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>Firefly AI</title>
    <link href="img/logo.png" rel='icon' />
    <link href="style/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="chat-container">
        <div id="chat-header">
            <h1>Firefly AI</h1>
            <button id="profile-button" onclick="">ChatID: <span id="chatid"></span></button>
        </div>
        <div id="chat-content"></div>
        <div id="chat-input">
            <textarea id="message" type="text" placeholder="输入你的问题和内容..." ></textarea>
            <button onclick="sendMessage()">发送消息</button>
        </div>
    </div>

    <script src="script/main.js"></script>
</body>

</html>